<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if lt IE 9 ]><html xmlns="http://www.w3.org/1999/xhtml" lang="{{ currentSite.language }}" class="ie">    <![endif]-->
<!--[if IE 9 ]><html xmlns="http://www.w3.org/1999/xhtml" lang="{{ currentSite.language }}" class="ie9">    <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" lang="{{ currentSite.language }}"><!--<![endif]-->

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="preconnect" href="{{ siteUrl }}">
        <link rel="dns-prefetch" href="{{ siteUrl }}">
        <link type="text/plain" rel="author" href="/humans.txt" />

        {# SEO #}
        {% hook "seo" %}

        {# CSS #}
        <link rel="stylesheet" href="/assets/styles/styles.css">

        {# Favicons #}
        {% include '_includes/favicons' %}
    </head>

    <body class="min-h-screen min-w-screen" data-barba="wrapper">
        {# Insert GTM markup here #}

        {# <a class="skip-main btn" href="#main">Skip to main content</a> #}

        {% include '_layout/header' %}

        <div class="site min-h-screen min-w-screen" id="main" data-barba="container">
            {% block content %}{% endblock %}
            {% include '_layout/footer' %}
        </div>

        {# Javascript #}
        <script src="/assets/scripts/bundle.js"></script>

        {# SVG Symbols #}
        <div class="hidden">
            {% include '_includes/svg-symbols' %}
        </div>
    </body>
</html>