{% import '_macros/macros' as macro %}

<footer class="row footer">
    <div class="container">
        <div class="mb-6">
            {{ macro.social(siteDetails.socialAccounts.all()) }}
        </div>
        {% set utilityNodes = craft.navigation.nodes().handle('footerUtilityMenu').all() %}
        {% if utilityNodes|length %}
            <div class="mb-6">
                <ul class="list list--inline">
                    {% for node in utilityNodes %}
                        <li class="">
                            <a href="{{ node.url }}" class="">{{ node.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="w-content">
            <p>{{ now|date("Y") }} &copy; {{ siteName }}. {% if currentUser and currentUser.admin %}<a href="/admin" {{ macro.external(true) }}>Control Panel</a>{% endif %} <a href="https://jaycollett.co" {{ macro.external(true) }}>Site Credits</a></p>
        </div>
    </div>
</footer>