<select
    id="{{ id }}"
    name="{{ name }}"
    {{ required ? '' : 'required aria-required="true"' }}
    class="field field--select"
    data-field
>
    <option selected='selected' disabled>{{ placeholder ? placeholder : 'Select' }}</option>
    {% for option in options %}
        <option value="{{ option }}">{{ option }}</option>
    {% endfor %}
</select>

<div class="field-arrow">
    {% include 'elements/icon' with {symbol: 'arrow-down'} %}
</div>

{#
    Include with:

    {% include 'form/fields/_index' with {
        type: 'select',
        label: 'Field label',
        helptext: '',
        required: true,
        id: 'whoAreYouField',
        placeholder: '',
        value: '',
        options: [
            'Educator',
            'Parent',
            'Other'
        ],
        class: 'lg:px-2 lg:flex-1',
        helptext: 'This is some sort of helptext'
    } %}

#}