{% set label = label ?? 'Submit' %}
{% if theme == 'red' %}
    {% set bg = 'red' %}
    {% set text = 'white' %}
    {% set hover = 'dark' %}
{% elseif theme == 'teal' %}
    {% set bg = 'teal' %}
    {% set text = 'white' %}
    {% set hover = 'light' %}
{% elseif theme == 'blue' %}
    {% set bg = 'blue' %}
    {% set text = 'white' %}
    {% set hover = 'dark' %}
{% else %}
    {% set bg = 'yellow' %}
    {% set text = 'blue' %}
    {% set hover = 'light' %}
{% endif %}

<button class="btn bg-{{ bg }} text-{{ text }} btn--{{ hover }}-hvr {{ btnClass }} btn--submit">
    <span class="btn__text">{{ label }}</span>
    <div class="btn__arrow">
        {% include 'elements/icon' with {symbol: 'arrow-right'} %}
    </div>
</button>

{#

    Include with:

    {% include 'form/fields/_index' with {
        type: 'submit',
        label: 'Join us',
        theme: btnTheme,
        class: 'lg:px-2 lg:flex-1 lg:w-full',
        btnClass: 'lg:w-full'
    } %} #}

#}